<?xml version="1.0" encoding="utf-8"?>
<io.alterac.blurkit.BlurLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:id="@+id/mainMenuLayout"
    android:visibility="invisible"
    app:blk_fps="0"
    app:blk_blurRadius="10"
    app:blk_downscaleFactor="0.12"
    >

    <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:orientation="vertical"
        android:weightSum="4">

        <Button
            android:id="@+id/saveButton"
            android:layout_marginBottom="10dp"
            android:textAllCaps="false"
            android:text="@string/save_game"
            android:layout_width="match_parent"
            android:layout_height="0dp"
            android:textSize="@dimen/buttonTextSize"
            style="@style/Widget.AppCompat.Button.Borderless"
            android:layout_weight="1"/>
        <Button
            android:id="@+id/loadButton"
            android:layout_marginBottom="10dp"
            android:textAllCaps="false"
            android:text="@string/load_game"
            android:layout_width="match_parent"
            android:layout_height="0dp"
            android:textSize="@dimen/buttonTextSize"
            style="@style/Widget.AppCompat.Button.Borderless"
            android:layout_weight="1"/>
        <Button
            android:id="@+id/startButton"
            android:text="@string/start_new_game"
            android:layout_width="match_parent"
            android:layout_height="0dp"
            android:textAllCaps="false"
            android:textSize="@dimen/buttonTextSize"
            style="@style/Widget.AppCompat.Button.Borderless"
            android:layout_weight="1"/>
        <Button
            android:id="@+id/backButton"
            android:text="@string/back_to_game"
            android:layout_width="match_parent"
            android:layout_height="0dp"
            android:textAllCaps="false"
            android:textSize="@dimen/buttonTextSize"
            style="@style/Widget.AppCompat.Button.Borderless"
            android:layout_weight="1"/>
    </LinearLayout>


</io.alterac.blurkit.BlurLayout>