<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical" android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:id="@+id/mainMenuLayout"
    android:visibility="invisible"
    android:weightSum="3">

    <Button
        android:id="@+id/saveButton"
        android:layout_marginBottom="10dp"
        android:textAllCaps="false"
        android:text="@string/save_game"
        android:layout_width="match_parent"
        android:layout_height="0dp"
        android:textSize="@dimen/buttonTextSize"
        style="@style/Widget.AppCompat.Button.Borderless"
        android:layout_weight="1"/>
    <Button
        android:id="@+id/loadButton"
        android:layout_marginBottom="10dp"
        android:textAllCaps="false"
        android:text="@string/load_game"
        android:layout_width="match_parent"
        android:layout_height="0dp"
        android:textSize="@dimen/buttonTextSize"
        style="@style/Widget.AppCompat.Button.Borderless"
        android:layout_weight="1"/>
    <Button
        android:id="@+id/startButton"
        android:text="@string/start_new_game"
        android:layout_width="match_parent"
        android:layout_height="0dp"
        android:textAllCaps="false"
        android:textSize="@dimen/buttonTextSize"
        style="@style/Widget.AppCompat.Button.Borderless"
        android:layout_weight="1"/>
</LinearLayout>